In [ ]:
# ***************************************************************
# Preprocess OpenCitations (COCI) Dataset
# ***************************************************************

# Jupyter Notebook che si occupa del preprocessing del dataset di Opencitations (COCI)
#
# Nello specifico, vengono effettuate le seguenti operazioni:
# - apertura (sequenziale) dei CSV del Dump
# - Drop delle colonne superflue (viene mantenuta solo 'cited')
# - Gruop by sulla colonna 'cited' e conteggio
# - Unione con il dataframe dei CSV già elaborati
#
# Infine, l'intero dump preprocessato viene salvato su disco in formato CSV

In [1]:
# Libraries Import
import pandas as pd

In [9]:
# Dumps Directory Path
path_file_import = r'/Users/marcoterzulli/File/Scuola Local/Magistrale/Materiale Corsi Attuali/Tirocinio/Cartella di Lavoro/Archivi Dump di Lavoro'

# CSV Exports Directory Path
#path_file_export = r'./Users/marcoterzulli/File/Scuola Local/Magistrale/Materiale Corsi Attuali/Tirocinio/Cartella di Lavoro/Repository Github/Repository Mio/terzulli_conftur/Test Pipeline Download e Preprocess'
path_file_export = r'/Users/marcoterzulli/File/Scuola Local/Magistrale/Materiale Corsi Attuali/Tirocinio/Cartella di Lavoro/Archivi Dump di Lavoro/Export'

In [3]:
# Read CSV COCI
df_coci_current_csv = pd.read_csv(path_file_import + '/2022-01-21T100308_0-4_1/2022-01-21T100308_4_1.csv')

In [4]:
df_coci_current_csv

,oci,citing,cited,creation,timespan,journal_sc,author_sc
0,0200100090736251028370000000000000000000000000...,10.1097/pas.0000000000001744,10.1097/00000478-199804000-00003,2021-06-17,P23Y2M,yes,no
1,0200100090736251028370000000000000000000000000...,10.1097/pas.0000000000001744,10.1016/j.lungcan.2018.07.016,2021-06-17,P2Y8M,no,no
2,0200100090736251028370000000000000000000000000...,10.1097/pas.0000000000001744,10.1093/bioinformatics/btp324,2021-06-17,P12Y0M30D,no,no
3,0200100090736251028370000000000000000000000000...,10.1097/pas.0000000000001744,10.1038/s41379-018-0057-z,2021-06-17,P3Y0M27D,no,no
4,0200100090736251028370000000000000000000000000...,10.1097/pas.0000000000001744,10.2147/ott.s260993,2021-06-17,P0Y11M,no,no
...,...,...,...,...,...,...,...
6550563,0200100000736280000010700630002016300080007096...,10.1007/s00170-021-08079-y,10.4028/www.scientific.net/kem.687.125,2021-10-05,P5Y6M,no,no
6550564,0200100000736280000010700630002016300080007096...,10.1007/s00170-021-08079-y,10.1016/j.jmatprotec.2015.01.030,2021-10-05,P6Y2M,no,no
6550565,0200101050536020002013604080608090908-02001010...,10.1155/2021/4868998,10.1155/2018/5920841,2021-10-04,P3Y1M0D,yes,no
6550566,0200101050536020002013604080608090908-02001010...,10.1155/2021/4868998,10.1155/2021/6684202,2021-10-04,P0Y6M3D,yes,no
6550567,0200101050536020002013604080608090908-02001010...,10.1155/2021/4868998,10.1155/2020/8848924,2021-10-04,P1Y1M27D,yes,no

In [5]:
# Drop delle colonne superflue
# Nello specifico, si droppano le colonne 'oci', 'citing', 'creation', 'timespan', 'journal_sc', 'author_sc'
df_coci_current_dropped_columns = df_coci_current_csv
df_coci_current_dropped_columns.drop(columns=['oci', 'citing', 'creation', 'timespan', 'journal_sc', 'author_sc'])

                                          cited
0              10.1097/00000478-199804000-00003
1                 10.1016/j.lungcan.2018.07.016
2                 10.1093/bioinformatics/btp324
3                     10.1038/s41379-018-0057-z
4                           10.2147/ott.s260993
...                                         ...
6550563  10.4028/www.scientific.net/kem.687.125
6550564        10.1016/j.jmatprotec.2015.01.030
6550565                    10.1155/2018/5920841
6550566                    10.1155/2021/6684202
6550567                    10.1155/2020/8848924

[6550568 rows x 1 columns]

In [6]:
# Raggruppamento e conteggio per articolo cited

sf_coci_current_grouped = df_coci_current_dropped_columns.groupby(['cited'])['cited'].count()

# L'oggetto restituito è di tipo Pandas Series. Conversione a Pandas dataframe
df_coci_current_grouped = pd.DataFrame({'article':sf_coci_current_grouped.index, 'citations_count':sf_coci_current_grouped.values})

In [7]:
df_coci_current_grouped

                              article  citations_count
0             10.1001/2012.jama.10158                1
1             10.1001/2012.jama.10503                3
2             10.1001/2012.jama.10893                3
3             10.1001/2012.jama.11089                2
4             10.1001/2012.jama.11132                2
...                               ...              ...
4666064   10.9799/ksfan.2015.28.5.918                1
4666065   10.9799/ksfan.2016.29.2.145                1
4666066  10.9799/ksfan.2016.29.6.1015                1
4666067   10.9799/ksfan.2017.30.2.251                1
4666068   10.9799/ksfan.2020.33.6.692                1

[4666069 rows x 2 columns]

In [10]:
# Export on CSV
df_coci_current_grouped.to_csv(path_file_export + '/out_coci_citations_count.csv')

In [11]:
# Check of the Exported CSV
df_coci_exported_csv = pd.read_csv(path_file_export + '/out_coci_citations_count.csv')
df_coci_exported_csv

         Unnamed: 0                       article  citations_count
0                 0       10.1001/2012.jama.10158                1
1                 1       10.1001/2012.jama.10503                3
2                 2       10.1001/2012.jama.10893                3
3                 3       10.1001/2012.jama.11089                2
4                 4       10.1001/2012.jama.11132                2
...             ...                           ...              ...
4666064     4666064   10.9799/ksfan.2015.28.5.918                1
4666065     4666065   10.9799/ksfan.2016.29.2.145                1
4666066     4666066  10.9799/ksfan.2016.29.6.1015                1
4666067     4666067   10.9799/ksfan.2017.30.2.251                1
4666068     4666068   10.9799/ksfan.2020.33.6.692                1

[4666069 rows x 3 columns]

In [12]:
# Read CSV COCI RAW del Prof - Test
df_coci_prof_csv_test = pd.read_csv(path_file_import + '/oci_raw_dataset.csv')
df_coci_prof_csv_test

          Unnamed: 0                       Articolo  Citazioni
0                  0  10.10.18045/zbefri.2015.2.207        1.0
1                  1                    10.1000/182        3.0
2                  2                        10.1001        6.0
3                  3                   10.1001/.391       17.0
4                  4                   10.1001/.399        4.0
...              ...                            ...        ...
49487968    49487968    10.9799/ksfan.2017.30.2.297        1.0
49487969    49487969    10.9799/ksfan.2017.30.2.305        2.0
49487970    49487970    10.9799/ksfan.2017.30.2.326        1.0
49487971    49487971    10.9799/ksfan.2017.30.2.356        2.0
49487972    49487972    10.9799/ksfan.2017.30.3.591        1.0

[49487973 rows x 3 columns]